.tenis {
  width: 15rem;
  height: 12rem;
  background-color: var(--dark-10);
  display: flex;
  justify-content: center;
}

.tenis img {
  width: 12rem;
  transition: .5s;
}

.tenis img:hover {
  cursor: pointer;
  width: 15rem;
}

@media (max-width: 600px) {
  .tenis {
  width: 24rem;
  height: 15rem;
  }

  .tenis img {
    width: 16rem;
    transition: .5s;
  }

  .tenis img:hover {
    cursor: pointer;
    width: 20rem;
  }
}