.banner {
  width: 100vw;
  height: 15rem;
  margin-top: .5rem;
  background-image: url("./images/banner.png");
  background-position: initial;
  background-size: cover;
}

@media (max-width: 600px) {
  .banner {
    background-image: url("./images/banner-mobile.svg");
    height: 24rem;
  }
}