.banner {
  width: 100vw;
  height: 15rem;
  margin-top: 0.5rem; 
  background-image: url(../../../public/images/banner.png);
  background-position: initial;
  background-size: cover;
}


@media (max-width: 600px) {
  .banner {
    background-image: url(../../../public/images/bannermobile.svg);
    height: 24rem;
  }
}
